# Dependencies
node_modules
.pnpm-store

# Build output
.output
dist

# Development files
.git
.gitignore
.env
.env.*
*.log
.DS_Store
.vscode
.idea

# Test files
coverage
.nyc_output

# Docker files
Dockerfile
.dockerignore

# Documentation
README.md
CHANGELOG.md
docs 